<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather-news.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="main-content">
        {{>header}}
        <p>Hello my name is Marko and this is my first weather application using node.js. Also i published it on Cyclic</p>
        <p>This is a test page and is used only for testing purposes</p>
        
        {{>footer}}
    </div>

</body>
</html>